/* stylelint-disable docusaurus/copyright-header */

.featureContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}
.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 2rem;
}
.featureSvg {
  height: 300px;
  width: 300px;
  /* margin: 0 2rem; */
}
.headContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* max-width: "10px"; */
}
.quote {
  text-align: center;
  font-size: 1.5rem;
  font-style: italic;
}
.quote::before {
  content: '"';

  color: #25c2a0;
}
.quote::after {
  content: '"';
  color: #25c2a0;
}
.paragraph {
  max-width: 50%;
  margin: 0 1rem;
  font-weight: 200;
  /* background-color: var(--ifm-color-emphasis-200); */
  padding: 10px;
}
.cardContainer {
  max-width: 650px;
  background-color: var(--ifm-color-emphasis-200);
  border-radius: 10px;
  padding: 2rem;
  height: max-content;
  margin: 0.25rem;
  /* margin: 1rem 8rem; */
}
/* .cardContainer h1 {
  font-size: larger;
} */
/* .cardContainer p {
  font-size: 1rem;
} */
.foot {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.timeline {
  margin: 5rem 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.imageContainer {
  display: flex;
  justify-content: space-between;
}
.imageContainer .image {
  width: 5rem;
  height: 5rem;
  margin: 0.254rem;
}
@media (max-width: 900px) {
  .paragraph {
    max-width: 60%;
  }
  .featureContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
    width: 100%;
  }
  /* .cardContainer{
    margin: 1rem 4rem;
  } */
}
@media only screen and (max-width: 600px) {
  .paragraph {
    max-width: 100%;
  }
  .featureContainer {
    justify-content: center;
  }
}
